/.idea/
/out/
/APS2020-1.iml
/bin/
/.idea/
/out/
/APS2020-1.iml
/bin/
!/.classpath
!/.project
build.xml
manifest.mf
nbproject/build-impl.xml
nbproject/genfiles.properties
nbproject/private/config.properties
nbproject/private/private.properties
nbproject/private/private.xml
nbproject/project.properties
nbproject/project.xml